body{padding:50px 0px 0px 0px; z-index:0; background-color: #F0F2DD;}

.navbar-dark { border: 1px solid black; background-color: #704012; padding: 0; color:white;}

.navbar-dark .navbar-nav .nav-link { color: rgb(255, 255, 255);}
 
.hov:hover{background-color:  #42250b;}
.active{ background-color:  #2c1907;}

.row-header{ margin:0px auto; padding:0px;}

.row-content {margin:0px auto;padding: 50px 0px 50px 0px; border-bottom: 1px ridge;}

.footer{ background-color: #4a7337; color: #e6d3c8; margin:0px auto; padding: 20px 0px 20px 0px;}

.jumbotron {    padding:70px 30px 70px 30px;    margin:0px auto;    background-color: #9ED54C ;    color: black;}

address{    font-size:80%;    margin:0px;}

.dropdown-menu{ background-color: #704012;}

#sello{ width: 150px;}

.navbar-brand{padding:8px 8px;}

.img-footer{padding: .25rem; max-width: 100%; height: auto;}

.img-comer{max-height: 338px;}
.img-responsive{width: 100%;}
.slide{margin:0; padding:0px;}
.img-banner2{max-height: 165px; margin-top:8px}
.img-nomargin{margin:0px;}
.img-tipo{max-height: 90px; max-width: 30%;}
.img-tipo2{position: relative; left: 19%;}
.img-icon{max-width: 13%;}
.thumbnail{padding:8px; margin-bottom:15px; background-color: #9ED54C;border: 2px solid black;}

@media screen and (max-width: 767px){ 

    .divfooter{margin-top: 10px;}
    
    .container-fluid {padding-right: 15px; padding-left: 15px;}
    
    .navbar-nav{margin:0px 0px;}
    .active,.nav-item{padding: 8px 15px;border-top: 1px solid black;}
    .navbar-left{margin:0px 0px;}
    .navbar-toggler{margin: 6px 15px;; padding: 10px 10px; border: 1px solid black}
    .icon-bar{background-color: rgb(255, 255, 255);    display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;}
     .icon-bar+.icon-bar { margin-top: 4px;}
     .img-tipo{ position: relative; left: 13%; max-height: 90px; max-width: 22%;}
     .img-tipo2{position: relative; left: 25%;}
     
}

@media (min-width: 768px){
    .navbar-expand-md>.container, .navbar-expand-md>.container-fluid{margin-left: 50px; margin-right: 50px;}
    .nav-item{height: 49px;}
    .nav-link{ margin-top: 3px;}
}

@media screen and (max-width: 1200px){
    .img-banner2{max-height: 144px; margin-top:8px}
    .img-comer{max-height: 293px;}
    .img-nomargin{margin:0px;}
}
@media screen and (max-width: 992px){
    .img-banner2{max-height: 105px; margin-top:5px}
    .img-comer{max-height: 215px;}
    .img-nomargin{margin:0px;}
}